{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-currency")) %}

<h1 class="display-4">{{ translate("txt-edit-currency") }}</h1>

{% include 'general/partial/form/currency' %}