{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-challenge")) %}

<h1>{{ translate("txt-new-challenge") }}</h1>

{% include 'general/partial/form/challenge' %}