{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-vat-type")) %}

<h1>{{ translate("txt-new-vat-type") }}</h1>

{% include 'general/partial/form/vat-type' %}