{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-vat-type")) %}

<h1 class="display-4">{{ translate("txt-new-vat-type") }}</h1>

{% include 'general/partial/form/vat-type' %}

{{ vat-typeLink(null, 'list','button') }}
