{% if  articles|length > 0 %}
    <div class="well well-sm">
        <h3>{{ translate("txt-related-articles-for-country-%s")|format(country) }}</h3>

        <table class="table">
            {% for article in articles %}
                <tr>
                    <td>{{ articleTypeIcon(article.type) }}</td>
                    <td>{{ articleLink(article,'view-public','name') }}</td>
                </tr>
            {% endfor %}
        </table>

        {% if limit != 0 %}
            {{ countryLink(country,'view-article', 'more') }}
        {% endif %}
    </div>
{% endif %}