<h2>{{ translate("txt-challenges") }}</h2>

<div class="row">
    {% for challenge in challenge %}
        <div class="col-md-6 col-sm-6">
            <div class="well challenge-box">
                <h3>{{ challengeIcon(challenge, 50) }}
                    {{ challengeLink(challenge,'view','name') }}
                </h3>

                {{ challenge.abstract|raw }}
            </div>
        </div>
    {% endfor %}
</div>
