<h1>{{ translate("txt-challenges") }}</h1>

<div class="row">
    {% for challenge in challenge %}
        <div class="col-md-6">
            <div class="well challenge-box">
                <div class="well-label"
                     style="background-color: #{{ challenge.backgroundColor }};">{{ challengeLink(challenge,'view','name') }}</div>
                {{ challenge.description[0:200]|striptags|raw }}
            </div>
        </div>
    {% endfor %}
</div>