<h2>{{ translate("txt-project-list") }}</h2>

<div class="row">
    {% for projectService in projects %}
    <div class="col-md-3">

        <div class="thumbnail">

            <h4>{{ projectLink(projectService,'view') }}</h4>

            {{ projectLogo(projectService, 'img-rounded') }}

            <div class="caption">


                <p>{{ projectService.project.title }}</p>
            </div>
        </div>

    </div>
    {% if loop.index is divisibleby(4) %}
</div>
<div class="row">
    {% endif %}

    {% endfor %}
</div>
