<h3>{{ translate("txt-country-%s-project-list")|format(country) }}</h3>
<div class="row">
    {% for projectService in projects %}
    <div class="col-md-2">
        <div class="thumbnail information-box">
            <div class="information-box-image">
                <div class="center-block">
                    {{ projectLogo(projectService, 'img-responsive') }}
                </div>
            </div>
            <h3 class="information-box-title">
            {{ projectLink(projectService,'view','name-without-number') }}
            </h3>
            <em>{{ callLink(projectService.project.call,'view-list') }}</em>
        </div>
    </div>
    {% if loop.index is divisibleby(6) %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>