{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-content-type")) %}

<h1 class="display-4">{{ translate("txt-new-content-type") }}</h1>

{% include 'general/partial/form/content-type' %}

{{ contentTypeLink(null, 'list','button') }}
