{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-challenge-type-%s")|format(challengeType)) %}

<h1 class="display-4">{{ translate("txt-edit-challenge-type-%s")|format(challengeType) }}</h1>

{% include 'general/partial/form/challenge/type' %}
