{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-create-new-general-challenge-type")) %}

<h1 class="display-4">{{ translate("txt-create-new-challenge-type") }}</h1>

{% include 'general/partial/form/challenge/type' %}
