{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-exhange-rate")) %}

<h1>{{ translate("txt-edit-exhange-rate") }}</h1>

{% include 'general/partial/form/exchange-rate' %}
