{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-exhange-rate")) %}

<h1 class="display-4">{{ translate("txt-new-exhange-rate") }}</h1>

{% include 'general/partial/form/exchange-rate' %}
