{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-language")) %}

<h1>{{ translate("txt-edit-language") }}</h1>

{% include 'general/partial/form/language' %}