<div class="pull-right">
    <img src="assets/{{ constant("ITEAOFFICE_HOST") }}/style/image/{{ challenge.docRef|lower }}.png">
</div>
<h1>{{ challenge.challenge }}</h1>


{{ challenge.description|raw }}
