{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-web-info")) %}

<h1>{{ translate("txt-edit-web-info") }}</h1>

{% include 'general/partial/form/web-info' %}